<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<style>
    html, body {
        height: 100%;
        background-color: #d0d3d4 ;
    }
    
</style>
<body>


<div class="container h-100 d-flex justify-content-center text-center">
    <div class="jumbotron my-auto">
        <div class="card-body text-secondary">
           <h3> Creates unique passwords based on user input.
            First foray into Django development and working with bootstrap. Created 06/2020</h3>
            <br>
            <a href="{% url 'home' %}" class="btn btn-lg btn-outline-primary text-uppercase">Home</a>
        </div>
    </div>
</div>


</body>

</html>